@font-face {
  font-family: "cheddar";
  src: url("CheddarGothicSansTwo-Regular.woff2") format('woff');
}

/**
 * Site header
 */
.site-header {
  // border-top: 5px solid $grey-color-dark;
  // border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1;
  background: rgba(0, 0, 0, .7);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  // Positioning context for the mobile navigation icon
  position: relative;
  z-index:3;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 100;
  font-family: cheddar;
  line-height: $base-line-height * $base-font-size * 1.8;
  letter-spacing: -1px;
  margin-bottom: 0;
  font-size: 24pt;
  // float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-logo {
  width: 130px;
  margin-left: calc(50% - 60px);
  //margin-top: -0.5rem;
}

.site-nav {
  float: right;
  margin-right: 15px;
  line-height: $base-line-height * $base-font-size * 2;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $background-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  .active {
    color: $brand-color;
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      color: #000;
    
      &:visited {
        color: #000;
    
      }

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  background: rgba(0, 0, 0, .7);
  padding: $spacing-unit 0;
  color: $light-color;
  font-weight: 100;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
  .site-nav {
    margin-top: -6px;
  
  }


}



/**
 * Page content
 */
.page-content {
  // padding: $spacing-unit 0;
  flex: 1 0 auto;

}


/* Container holding the image and the text */
.img-container {
  position: relative;
  text-align: center;
}

/* Top left text */
.post-date {
  margin-top: $base-line-height * $base-font-size * 1.8;
  position: absolute;
  top: 16px;
  left: 17px;
}

/* Top left text */
.post-date p {
  letter-spacing: 1px;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0,0,0, 0.1);
  opacity: 0.9;
  color: white;
}

/* Bottom right text */
.post-categories {
  // margin-top: $base-line-height * $base-font-size * 1.8;
  position: absolute;
  bottom: -6px;
  right: 14px;
}

.post-categories p {
  font-size: 12px;
  color: white;
}

/* Bottom left text */
.blog-post-title {
  // margin-top: $base-line-height * $base-font-size * 1.8;
  position: absolute;
  bottom: -6px;
  right: 14px;
}

.blog-post-categories p {
  font-size: 12px;
  color: white;
}

.page-heading {
  margin-top: $base-line-height * $base-font-size * 1.8;
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}


/**
 * Page content
 */
.page-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  transition: 0.3s;
  background-color: #FFF;
  margin-top: -$base-line-height * $base-font-size * 2 - 2;
  border-radius: 10px; /* 5px rounded corners */
}

/* On mouse-over, add a deeper shadow */
.page-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.12);
}

.page-container {
  padding: $spacing-unit;
  margin-bottom: $spacing-unit;
}

.page-container img {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/**
 * Blog content
 */
.blog-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  transition: 0.3s;
  background-color: #FFF;
  margin-top: -$base-line-height * $base-font-size * 2 - 2;
  border-radius: 10px; /* 5px rounded corners */
}

/* On mouse-over, add a deeper shadow */
.blog-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.12);
}

/* Add some padding inside the card container */
.blog-card-container {
  padding: $spacing-unit 15% $spacing-unit 15%;
  margin-bottom: $spacing-unit;

  @include media-query($on-palm) {
    padding: $spacing-unit 7% $spacing-unit 7%;
  }
}

.blog-card-text-container:first-letter {
  // line-height: 4 * $base-font-size;
  // font-size: 2 * $base-font-size;
  color: $brand-color;
  float: left;
  font-family: cheddar;
  // font-size: $base-font-size;
  // line-height: $base-font-size;
  float: left;
  font-size: 70px;
  line-height: 58px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  padding-bottom: 0px;
}



/**
 * Posts
 */
.post-header {
  margin-top: $base-line-height * $base-font-size * 1.8;
  margin-bottom: $spacing-unit;
}

.post-image {
  margin-bottom: $spacing-unit;
}

.page-title,
.page-content h1 {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;
  font-family: cheddar;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}


.page-container {
  padding: $spacing-unit;
  margin-bottom: $spacing-unit;
}

.page-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);
    padding-top: 25px;
    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }

  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }


}



/**
 * Blog grid
 */

 .grid {
  max-width: 1200px;
  border-radius: 10px; /* 5px rounded corners */
  overflow: hidden;
  margin-bottom: $spacing-unit;
}



/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-sizer,
.grid-item {
  width: 25%;
}

.grid-item {
  // height: 120px;
  float: left;
  // border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  // border-radius: 0px;
}

.grid-item img {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}

.grid-item:hover img {
  // height: 120px;
  opacity: 0.5;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.12);
  // border-radius: 0px;
}

.grid-item--width2 { width:  40%; }
.grid-item--width3 { width:  60%; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }