---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->
    <ul class="post-list">
      {%- for post in site.posts -%}        
        {%- if forloop.index == 1 -%} <!-- Check if first post, if so make it full width + excerpts -->

          <div class="blog-card">
            {%- if post.image -%}
            <a class="post-link" href="{{ post.url | relative_url }}">
              <div class="img-container">
                <img src="{{ site.baseurl }}/images/{{ post.image }}" alt="{{ post.title | escape }}" style="width:100%">
                <!-- <div class="post-date"><p>{{ post.date | date: "%B %e, %Y" }}</p></div> -->
                
              </div>
            </a>
            {%- endif -%}
            <div class="blog-card-container">
              {%- if site.show_excerpts -%}
              <div class="blog-card-text-container">  
                {{ post.excerpt }}
              </div>
              {%- endif -%}
              <center><a href="{{ post.url | relative_url }}">Continue reading >>></a></center>
            </div>

          </div>

          {%- if site.posts.size > 1 -%}
          <span class="site-title">Earlier posts</span>&nbsp;&nbsp;<a href="/blog">Show all >>></a>
          <div class="grid">
          {%- endif -%}

        {%- else -%}

          <div class="grid-item {{ post.categories }}">
            {%- if post.image -%}
            <a class="post-link" href="{{ post.url | relative_url }}">
              <div class="img-container">
                <img src="{{ site.baseurl }}/images/{{ post.image }}" alt="{{ post.title | escape }}" style="width:100%">
                {%- if post.categories -%}
                <div class="post-categories"><p>{{ post.categories }}</p></div>
                {%- endif -%}
              </div>
            </a>
            {%- else -%}
            <div class="blog-card-container">
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              <span class="post-meta">{{ post.date | date: date_format }}</span>
              <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a>
              </h3>
              {%- if site.show_excerpts -%}
                {{ post.excerpt }}
              {%- endif -%}       
            </div>
            {%- endif -%}
          {%- if site.posts.size > 1 -%}
            </div>
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
      </div>
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
